In [22]:
# 1. conveting an integer into a floating point number

num = 5
print(type(num))

# covert

num = float(num)
print(num)
print(type(num))

<class 'int'>
5.0
<class 'float'>

In [9]:
# 2. conveting an floating into integer

number = 4.99
print(type(number))

# convert

number = int(number)
print(number)
print(type(number))

<class 'float'>
4
<class 'int'>

In [11]:
# 3. converting an int into string

integer = 22
string  = str(integer)
print(type(string))

<class 'str'>

In [18]:
# 4. convert a list into a tuple

mylist =[ "sunil" , "itachi" , "virat" , "anushka",[20 , 21 , 32] ]
print(type(mylist))

# convert

mytuple = tuple(mylist)
print(mylist)
print(type(mytuple))

<class 'list'>
['sunil', 'itachi', 'virat', 'anushka', [20, 21, 32]]
<class 'tuple'>

In [24]:
# 5. coverting a tuple into a list

mytuple =[ "sunil" , "itachi" , "virat" , "anushka",[20 , 21 , 32] ]
print(type(mytuple))

# convert

mylist = tuple(mytuple)
print(mytuple)
print(type(mylist))

<class 'list'>
['sunil', 'itachi', 'virat', 'anushka', [20, 21, 32]]
<class 'tuple'>